@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Playwrite+AU+SA:wght@100..400&display=swap");

.backhome {
  height: 625px;
  color: #000000;
}

.playwritefont {
  font-family: "Playwrite AU SA", serif;
  font-optical-sizing: auto;
}

/* Full-screen background with floating gradient - Light Theme */
.floating-bg {
  position: relative;
  height: 100vh;
  width: 100%;
  background: white;
  /* Optional: Subtle yellow gradient or accent */
  background: linear-gradient(
    135deg,
    #ffffff 0%,
    #fefce8 100%
  ); /* white to yellow-50 */
  /* display: flex; */
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

@keyframes moveGrid {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 40px 40px;
  }
}

.moving-grid {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #ffffff;
  background-image: 
    linear-gradient(#e5e7eb 1px, transparent 1px),
    linear-gradient(90deg, #e5e7eb 1px, transparent 1px);
  background-size: 40px 40px;
  animation: moveGrid 15s linear infinite;
}
